.imgEditar{
    position: relative;
    left: 20%;
}

.btnGuardar{
    position: relative;
    left: 20%;
}

.imgCat{
    overflow: hidden;
    border-radius: 50% !important;
    margin: 0;
    padding: 0;
}