<ion-content>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <img src="../../../assets/images/fybeca.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Farmacia</ion-card-subtitle>
      <ion-card-title>Fybeca</ion-card-title>
      <h3 class="distLocal">a 450m.</h3>
    </ion-card-header>
  </ion-card>

  <!--Productos-->
  <h2 style="position: relative; left: 5%;">Productos:</h2>
  <ion-card>
    <ion-grid class="ion-float-left">
      <ion-row>
        <ion-col style="width:150px;">
          <img class="imgPro" src="../../../assets/images/pills.jpg" />
        </ion-col>
        <ion-col style="width:400px;">
          <div class="proDes">
            <h6>Producto 1</h6>
            <p>Precio: $2.50</p>
          </div>
        </ion-col>
        <ion-col>
            <ion-button class="btnCart" color="success" href="#"><ion-icon name="cart-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>
