<ion-content>

  <ion-card>
    <img src="../../assets/images/cart.jpg"/>
    <ion-card-header>
      <ion-card-title>Carrito</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid class="ion-float-left">
        <ion-row>
          <ion-col class="ion-text-left"style="width:475px; margin-left:0px; padding-left:0px;">
            <h1>Producto 1</h1>
            <h2>Cantidad: 5 | Subtotal: $15.50</h2>
            <h2>Local: Fybeca</h2>
            <h2></h2>
          </ion-col>
          <ion-col>
            <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid class="ion-float-left">
        <ion-row>
          <ion-col class="ion-text-left"style="width:475px; margin-left:0px; padding-left:0px;">
            <h1>Producto 2</h1>
            <h2>Cantidad: 3 | Subtotal: $25.50</h2>
            <h2>Local: Fybeca</h2>
            <h2></h2>
          </ion-col>
          <ion-col>
            <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
