<ion-card>
    <ion-card-header>
        <ion-col>
            <img class="imgCat" src="../../assets/images/ServiLocal.png" />
        </ion-col>
        <ion-card-title class="class=" ion-text-center></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Somos una empresa dedicada a ofrecer productos y servicio con el fin de mantener su comodidad
    </ion-card-content>
    <ion-item>

    </ion-item>

    <ion-card-content>
        <ion-label>

        </ion-label>
        <ion-button color="success" expand="full" type="submit" (click)="onUser()">
            Usuario
        </ion-button>
        <ion-button color="dark" expand="full" type="submit" (click)="onAdmin()">
            Administrador
        </ion-button>

    </ion-card-content>
</ion-card>