.imgCat{
    overflow: hidden;
    border-radius: 50% !important;
    margin: 0;
    padding: 0;
}

.colUser{
    min-width: 50%;
}

.btnEditar{
    position: relative;
    left: 50%;
}

.insideCard{
    position: relative;
    left: 5%;
}

.btnEditarPass{
    position: relative;
    left: 6.7rem;
    top: 1rem;
}

.btnEditarPago{
    position: relative;
    left: 2.2rem;
    top: 1rem;
}
.btnPriv{
    position: relative;
    left: 2.4rem;
    top: 1rem;
}
.btnFAQ{
    position: relative;
    left: 2.4rem;
    top: 0rem;
}

.btnCerrar{
    position: relative;
    width:100%;
    left: 75%;
    top: 0rem;
}