<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab 4
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="onLogout()">Log out</ion-button>
    <ion-button>Bienvenido</ion-button>
</ion-content>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Usuario</ion-card-title>
            <ion-grid class="ion-float-left">
                <ion-row>
                    <ion-col>
                        <img class="imgCat" src="../../assets/images/user.jpg" />
                    </ion-col>
                    <ion-col class="colUser">
                        <div>
                            <h4 class="ion-text-right">Juan Pelaez</h4>
                            <h5 class="ion-text-right">Av. Remigio Crespo 4-58</h5>
                            <ion-button class="btnEditar" color="warning" href="#">Editar</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-header>
    </ion-card>


    <ion-card>
        <ion-grid class="ion-float-left">
            <ion-row>
                <ion-col>
                    <h3>Contraseña:</h3>
                    <div class="insideCard2">
                        <h4>************</h4>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-button class="btnEditarPass" color="warning" href="#">Editar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid class="ion-float-left">
            <ion-row>
                <ion-col style="width:400px;">
                    <h3>Metodo de Pago:</h3>
                    <div class="insideCard2">
                        <h4>- Cash</h4>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-button class="btnEditarPago" color="warning" href="#">Editar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card>
        <ion-grid class="ion-float-left">
            <ion-row>
                <ion-col style="width:400px;">
                    <h3>Politicas de Privacidad:</h3>
                </ion-col>
                <ion-col>
                    <ion-fab-button class="btnPriv">
                        <ion-icon name="arrow-forward-circle"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid class="ion-float-left">
            <ion-row>
                <ion-col style="width:400px;">
                    <h3>F.A.Q:</h3>
                </ion-col>
                <ion-col>
                    <ion-fab-button class="btnFAQ">
                        <ion-icon name="arrow-forward-circle"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <ion-grid class="ion-float-left">
            <ion-row>
                <ion-col>
                    <ion-button class='btnCerrar' color="danger">Cerrar Sesion</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>