<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="onLogout()">Log out</ion-button>
    <ion-button>Bienvenido</ion-button>
    <!-- Card de Busqueda -->
    <div>
        <ion-card class="cardIndex">
            <ion-card-header>
                <ion-card-title>Que Necesitas?</ion-card-title>
            </ion-card-header>
            <ion-searchbar class="inedxSearch" value="Buscalo!"></ion-searchbar>
        </ion-card>
    </div>

    <div>
        <ion-card class="cardIndex">
            <h2 class="ion-text-left" style="margin-left: 5%;">Cerca de Ti</h2>
            <!-- Card de Local -->
            <div>
                <ion-slides>
                    <!--Local que se repite-->
                    <ion-slide>
                        <div class="slide">
                            <img class="slideImg" src="../../assets/images/fybeca.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Farmacia:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Fybeca</h4>
                            <h5 class="h5Index">A 450m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/kfc.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Restaurante:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">KFC</h4>
                            <h5 class="h5Index">A 625m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/tablita.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Restaurante:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Tablita del Tartaro</h4>
                            <h5 class="h5Index">A 660m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/western.jpg" />
                            <ion-item-divider>
                                <h3 class="ion-text-left">Banco:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Western Union</h4>
                            <h5 class="h5Index">A 700m.</h5>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>


        </ion-card>
    </div>

    <div>
        <ion-card class="cardIndex">
            <h2 class="ion-text-left" style="margin-left: 5%;">Porque Eligiste antes...</h2>
            <!-- Card de Local -->
            <div>
                <ion-slides>
                    <!--Local que se repite-->

                    <ion-slide>
                        <div class="slide">
                            <img class="slideImg" src="../../assets/images/tablita.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Restaurante:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Tablita del Tartaro</h4>
                            <h5 class="h5Index">A 660m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/fybeca.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Farmacia:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Fybeca</h4>
                            <h5 class="h5Index">A 450m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/kfc.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">Restaurante:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">KFC</h4>
                            <h5 class="h5Index">A 625m.</h5>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/western.jpg" />
                            <ion-item-divider>
                                <h3 class="ion-text-left">Banco:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">Western Union</h4>
                            <h5 class="h5Index">A 700m.</h5>
                        </div>
                    </ion-slide>
                </ion-slides>
                <!-- Card de Busqueda -->
                <div>
                    <ion-card class="cardIndex">
                        <ion-card-header>
                            <ion-card-title>Que Necesitas?</ion-card-title>
                        </ion-card-header>
                        <ion-searchbar class="inedxSearch" value="Buscalo!"></ion-searchbar>
                    </ion-card>
                </div>

                <div>
                    <ion-card class="cardIndex">
                        <h2 class="ion-text-left" style="margin-left: 5%;">Cerca de Ti</h2>
                        <!-- Card de Local -->
                        <div>
                            <ion-slides>
                                <!--Local que se repite-->
                                <ion-slide>
                                    <div class="slide">
                                        <img class="slideImg" src="../../assets/images/fybeca.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Farmacia:</h3>
                                        <h4 class="h4Index">Fybeca</h4>
                                        <h5 class="h5Index">A 450m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/kfc.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Restaurante:</h3>
                                        <h4 class="h4Index">KFC</h4>
                                        <h5 class="h5Index">A 625m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/tablita.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Restaurante:</h3>
                                        <h4 class="h4Index">Tablita del Tartaro</h4>
                                        <h5 class="h5Index">A 660m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/western.jpg" />
                                        <h3 class="ion-text-left">Banco:</h3>
                                        <h4 class="h4Index">Western Union</h4>
                                        <h5 class="h5Index">A 700m.</h5>
                                    </div>
                                </ion-slide>
                            </ion-slides>
                        </div>


                    </ion-card>
                </div>

                <div>
                    <ion-card class="cardIndex">
                        <h2 class="ion-text-left" style="margin-left: 5%;">Porque Eligiste antes...</h2>
                        <!-- Card de Local -->
                        <div>
                            <ion-slides>
                                <!--Local que se repite-->

                                <ion-slide>
                                    <div class="slide">
                                        <img class="slideImg" src="../../assets/images/tablita.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Restaurante:</h3>
                                        <h4 class="h4Index">Tablita del Tartaro</h4>
                                        <h5 class="h5Index">A 660m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/fybeca.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Farmacia:</h3>
                                        <h4 class="h4Index">Fybeca</h4>
                                        <h5 class="h5Index">A 450m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/kfc.jpg" />
                                        <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                                        <h3 class="ion-text-left">Restaurante:</h3>
                                        <h4 class="h4Index">KFC</h4>
                                        <h5 class="h5Index">A 625m.</h5>
                                    </div>
                                </ion-slide>

                                <ion-slide>
                                    <div class="slide">
                                        <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                                        <img class="slideImg" src="../../assets/images/western.jpg" />
                                        <h3 class="ion-text-left">Banco:</h3>
                                        <h4 class="h4Index">Western Union</h4>
                                        <h5 class="h5Index">A 700m.</h5>
                                    </div>


                    </ion-card>
                    </div>


</ion-content>