<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Card de Busqueda -->
    <div>
        <ion-card class="cardIndex">
            <ion-card-header>
                <ion-card-title>Que Necesitas?</ion-card-title>
            </ion-card-header>
            <ion-searchbar [(ngModel)]="busqueda" (click)="buscar()"  class="inedxSearch" value="Buscalo!"></ion-searchbar>
        </ion-card>
    </div>

    <div>
        <ion-card class="cardIndex">
            <h2 class="ion-text-left" style="margin-left: 5%;">Cerca de Ti</h2>
            <!-- Card de Local -->
            <div>
                <ion-slides>
                    <!--Local que se repite-->
                    <ion-slide *ngFor="let l of locales | async" (click)="redirect(l.uid)">
                        <div >
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/fybeca.jpg"/>
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">{{l.categoria}}:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">{{l.nombre}}</h4>
                            <h5 class="h5Index">A 450m.</h5>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>


        </ion-card>
    </div>

    <div>
        <ion-card class="cardIndex">
            <h2 class="ion-text-left" style="margin-left: 5%;">Porque Eligiste antes...</h2>
            <!-- Card de Local -->
            <div>
                <ion-slides>
                    <!--Local que se repite-->

                    <ion-slide *ngFor="let l of locales | async">
                        <div class="slide">
                            <ion-icon class="arrowL" name="chevron-back-outline"></ion-icon>
                            <img class="slideImg" src="../../assets/images/fybeca.jpg" />
                            <ion-icon class="arrowR" name="chevron-forward-outline"></ion-icon>
                            <ion-item-divider>
                                <h3 class="ion-text-left">{{l.categoria}}:</h3>
                            </ion-item-divider>
                            <h4 class="h4Index">{{l.nombre}}</h4>
                            <h5 class="h5Index">A 450m.</h5>
                        </div>
                    </ion-slide>
                </ion-slides>
                <!-- Card de Busqueda -->
            </div>
        </ion-card>
    </div>
</ion-content>