
<ion-content [fullscreen]="true">
  <h1 class="titulo">Pedidos</h1>

  <ion-card >
    <ion-grid class="ion-float-left">
      <ion-row>
        <ion-col style="width:500px;">
          <h3>Pedido de: Fybeca</h3>
          <h6>Para: Juan Pelaez</h6>
          <h6>Total: $95.36</h6>
          <h6>Fecha: 15/02/2021</h6>
        </ion-col>
        <ion-col>
            <ion-button class="btnMap" color="success"><ion-icon name="map-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

   <ion-card >
    <ion-grid class="ion-float-left">
      <ion-row>
        <ion-col style="width:500px;">
          <h3>Pedido de: Kiwy</h3>
          <h6>Para: Juan Pelaez</h6>
          <h6>Total: $158.25</h6>
          <h6>Fecha: 15/08/2021</h6>
        </ion-col>
        <ion-col>
            <ion-button class="btnDetalle" color="medium">Detalle</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
