<ion-content>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <img src="../../assets/images/faq.png"/>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como Funciona ServiLocal?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta es una aplicacion web que es paa compras. Una puede ingresar a la tienda donde desea hacer la compra y puede incluir los prducots que uno desee. En estos puede hacer un pedido y se le avisara al adminsitrador de este local, asi confirmando su compra.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Existen Reembolsos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Claro! Nuestro sistema tiene un sistema de reembolsos que puede contactarse con el mail reembolsos@servilocal.com. Aqui le podran ayudar con cualquier duda sobre este tema.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Puedo Incluir mi negocio en la plataforma?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Obviamente! Puede contactarse con el mail locales@servilocal.com para poder agendar un cita, donde se le evaluara que tenga un local formal y con los debidos permisos. Esto para salvaguardar la integridad y profesionalimso de la plataforma y nuestros clientes. Despues serian unas 24 horas hasta ser aprobado.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Que metodos de pago existen?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Por ahora solo disponemos de cash :(. Proximamente tendremos nuevos metodos de pago.
    </ion-card-content>
  </ion-card>

  <br>
  <br>
  <br>

</ion-content>
